<p>welcome to the app component</p>
<br>
<br>
<br>
<p>Routing in Angular</p>
<button (click)="data()">click here to go to parent</button>  
<button (click)="data2()">click here to go to child</button> 

<br>
<br>
<br>
<br>
<p>Reading the Given text in Voice</p>
<textarea style="width: 384px;" id="voice" placeholder="Please Insert Headphones and Enter the text" (change)="doTextareaValueChange($event)">{{values}}</textarea>
<br>
<br>
<br>
<p>Marquee tag in html</p>
<marquee direction = "right" behavior = "alternate">This is basic example of marquee</marquee>
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CSS Login form</title>
</head>
<body>

<div class="login">
  <input type="text" placeholder="Username" id="username">  
  <input type="password" placeholder="Password" id="password">  
  <button (click)="data2()">Login</button>
    <a href="#" class="forgot">forgot password?</a>
</div>

</body>
</html> -->

